.about{
     margin-top: 2em;
  
}

.about p{
    background-color: hwb(0 100% 0%);
    margin: 2em;
    border-radius: .5em;
    color:rgb(13, 13, 13);
    text-align: justify;
    padding: 2rem 4rem 15rem 4rem ;
  
}