@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

.navbar {
    grid-template-rows: 1fr 1fr;
}



/* .links {
    display: grid;
    justify-content: flex-end;
    margin: 1rem;
    grid-template-columns: 1fr 1fr ;
    align-items: center;
}

.links a {
    display: grid;
    justify-content: center;
    font-family: 'Jost', sans-serif;
    color: #edf2f4;
    font-size: 1rem;
    align-items: center;
    text-decoration:none;
    cursor: none;
} */
/* 
.links a:hover {
    color: #f0a400;
} */
.logoDiv{
    margin: 1em;
    display: grid;
    grid-template-columns: repeat(7,1fr);
   
}
.links{

    display: none;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: flex-end;
   
    
    
}
.linksShow{
    display:grid;
   
}

.links a{
    padding: .5rem 1rem;
    text-decoration: none;
    color: white;
}

.logo {
    cursor: none;
    font-family: 'Oleo Script', cursive;
    text-transform: capitalize;
    color: #F0A500;
    font-size: 2em;
    grid-column: 4;
    text-decoration:none;
    text-align: center;
}

.mobileIcon{
    background: url(./ellipsis-vertical-solid.svg);
   background-repeat: no-repeat;
   grid-column: 7;
   background-position:right;
   fill: white;
}
.switchDiv{
    padding: .5rem 1rem;
display: grid;
align-items: center;
justify-items: center;
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.switch {
    cursor: pointer;
    text-indent: -9999px;
    width: 3em;
    height: 1.5em;
    background: rgb(228, 228, 228);
   
    border-radius: 100px;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
}

.switch:after {
    content: '';
    position: absolute;
    
    left: .1em;
    width: 1.5em;
    height: 1.4em;
    background: url(./shield.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    transition: 0.3s;
}

input:checked+.switch {
    background: #ffffff;
}

input:checked+.switch:after {
    
    transform: translateX(80%) rotate(180deg);
  


}

.navbar svg{
    width: 100%;
}


@media screen and (min-width:800px) {
    .navbar{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: none;
        padding: 1rem;
        
    }
    .logo{
        grid-area: 1;
    }

    .links{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: none;
        justify-items: center;
        align-items: center;
        
    }
    .links a{
        padding: 0rem;
    }
    .logoDiv{
        margin: 1em;
        display: grid;
        grid-template-columns: repeat(7,1fr);
       
    }
}
