@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

.navbar {
    grid-template-rows: 1fr 1fr;

}

.logoDiv {
    padding: .5rem;
    margin: 1em;
    display: grid;
    grid-template-columns: repeat(7, 1fr);

}

.textList {
    background: url(./list.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-column: 7;
    align-items: center;
    justify-items: center;
}

.links {
    position: fixed;
    display: grid;
    height: 100%;
    width: 100%;
    z-index: 100;
    top: 0;
    pointer-events: none;
    opacity: 0;
    animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}

.linksList {
    background-color: #9279d8;
    width: 80%;


}

.linksShow {
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    opacity: 1;
    pointer-events: all;
}

@keyframes slide-out-left {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-1000px);
        opacity: 0;
    }
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


.linksList .RouteLink {
    display: grid;

    padding: 1.5rem;


}

.linksList .RouteLink:hover {
    background-color: rgba(0, 0, 0, 0.205);
}

.linksList .RouteLink {
    text-decoration: none;
    color: white;
    text-align: left;
    font-family: "Light1";
}


.logo {
    cursor: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-transform: capitalize;
    color: #000000;
    font-size: 2em;
    grid-column: 4;
    text-decoration: none;
    text-align: center;
    
}

.mobileIcon {
    background: url(./ellipsis-vertical-solid.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    grid-column: 1;
    background-position: center;
    fill: white;
}

.switchDiv {
    padding: .5rem 1rem;
    display: grid;
    align-items: center;
    justify-items: center;
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.switch {
    cursor: pointer;
    text-indent: -9999px;
    width: 3em;
    height: 1.5em;
    background: rgb(228, 228, 228);

    border-radius: 100px;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
}

.switch:after {
    content: '';
    position: absolute;

    left: .1em;
    width: 1.5em;
    height: 1.4em;
    background: url(./shield.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    transition: 0.3s;
}

input:checked+.switch {
    background: #ffffff;
}

input:checked+.switch:after {

    transform: translateX(80%) rotate(180deg);



}

.navbar svg {
    width: 100%;
}





@media screen and (min-width:800px) {
    .navbar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: none;
        padding: 1rem;

    }

    .logo {
        grid-area: 1;
    }

    .links {
        position: unset;
        background-color: unset;
        width: unset;
        opacity: 1;
        pointer-events: all;
        animation: unset;
    }

    .linksList {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        align-items: center;
        background-color: unset;
        width: unset;
    }

    .linksList .RouteLink {
        background-color: unset;

    }

    .linksList p {
        text-align: center;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        font-weight: bolder;
        background-color: #9279d8;
        padding: 1em;
        margin: 1em;
        color: white;
        cursor: pointer;
        transition: box-shadow 1s ease;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    }

    .linksList p:hover {
        box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
    }


    .linksList .RouteLink {
        text-align: center;
        color: black;
    }

    .logoDiv {
        margin: 1em;
        display: grid;


    }
}