.mainDiv {
  display: grid;
  grid-template-rows: 1fr 10% 10%;
  width: 100%;
  justify-content: center;
  padding: 1em;


}

.Button {
  display: grid;
  margin:1em 1em 1em 1em ;
  align-items:center;
  

}


.mainDiv p {
  text-align: center;
  color: white;
  font-size: 1.5em;
 


}


.file {
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
  position: absolute;
}

.labelFile {
 text-align: center;

  position: relative;
  

  font-size: 1.2rem;
  
  color: black;
  cursor: pointer;
  text-decoration: underline;


}

.next{
  display: grid;
  text-align: center;
  justify-self: center;
  text-decoration: none;
  color: white;
  align-items: center;
  width: 80%;
  font-size: 1.2rem;
  padding: 1em;
  background-color: #9772FB;
  border-radius: 20px;
}

.svgDiv{
 
}
.svgDiv p{
  margin:1em 0em 1.5em 0em;
  font-family: "Light";
  color:black;
  font-size: 3rem;

}
.highlight{
  position: relative;
 
}

.highlight::before{
  background-color:  #bba5f9;

  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 60%;
  left: -2px;
  bottom: 0;
  z-index: -1;
  transform: rotate(-2deg);
}
.svg{
  background: url(./contentMain.svg);
  padding: 8em;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}