.mainDiv {
  display: grid;
  grid-template-rows: 1fr 10% 10%;
  width: 100%;
  justify-content: center;
 
  margin-bottom: 1.5em;


}

.Button {
  display: grid;
  margin: 1em 1em 1em 1em;
  align-items: center;


}


.mainDiv p {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: white;
  font-size: 1.5em;



}


.file {
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
  position: absolute;
}

.labelFile {
  font-family: 'Poppins', sans-serif;
  text-align: center;

  position: relative;


  font-size: 1.2rem;

  color: black;
  cursor: pointer;
  text-decoration: underline;


}

.next {
  margin-top: 1em;
  font-family: 'Poppins', sans-serif;
  display: grid;
  text-align: center;
  justify-self: center;
  text-decoration: none;
  color: white;
  align-items: center;
  width: 80%;
  font-size: 1.2rem;
  padding: 1em;
  background-color: #9772FB;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.svgDiv {}

.svgDiv p {
  margin:.4em 0em 1em 0em;
  font-family: "Light";
  color: black;
  font-size: 2.5rem;
  word-spacing: 9999px;
}

.highlight {
  position: relative;


}

.highlight::before {
  background-color: #bba5f9;

  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 60%;
  left: -2px;
  bottom: 0;
  z-index: -1;
  transform: rotate(-2deg);
}

.svg {
  background: url(./contentMain.svg);
  padding: 7em;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
 margin-bottom: 1em;
}
.clock{
  display: none;
}

@media screen and (min-width:800px) {
  .mainDiv {
    justify-content:unset;
    
  }
  .svgDiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    
  }
  .svgDiv p{
    padding: 2em;
    word-spacing: unset;
    text-align: left;

  }
  .getStarted{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .Button{
    grid-template-columns: 1fr 1fr;
  }
  .clock{
    display: grid;
    background: url(./undraw_optimize_image_re_3tb1.svg);
    background-size: contain;
    
    background-repeat:no-repeat;
    background-position: left;
  }
}

@media screen and (min-width:1500px){
  .clock{
   margin-left:8em ;
   
  }
}