.mainDiv {
  display: grid;
  grid-template-rows: 1fr 20%;
  width: 100%;
  justify-content: center;
  padding: 1em;


}

.Button {
  display: grid;
  margin: 1em;
  align-items:center;

}


.mainDiv p {
  text-align: center;
  color: white;
  font-size: 1.5em;
 


}


.file {
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
  position: absolute;
}

.labelFile {
 text-align: center;

  position: relative;
  padding: 1em;
  border-radius: .3rem;
  font-size: 1.2rem;
  background: #9772FB;
  color: white;
  cursor: pointer;
  font-family: "Light1";


}

.svgDiv{
 
}
.svgDiv p{
  margin:.5em 0em ;
  font-family: "Light";
  color:black;
  font-size: 3rem;
}
.svg{
  background: url(./woolly-hand-with-mobile-phone.png);
  padding: 8em;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}