.imagetoText {
    display: grid;
    transition: all 1s ease;
    margin: 1em;
    padding: .5em;
    border-radius: 7px;

    background-color: white;
}

.status {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1em;
    font-size: 1.2rem;
}

.status p {
    font-family: 'Jost', sans-serif;

}
.statustext{
  
    text-align: right;
    color:#9772FB;
}

.getText{
    display: grid;
    justify-content: center;

   
}

.getText button{
    background-color: #9772FB;
}

.extractedText{
    margin: 1em;
    text-align: center;
    font-size: 1.2rem;
}

.textDiv{
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr 20%;
    border: 1px solid black;
    padding: 1em;
}

.textDiv button{
    background-color: #9772FB;
    border: none;
    color :white;
    border-radius: .4em;
}

.navbar{
    display:grid;
    grid-template-columns: repeat(7,1fr);
    justify-items: center;
    align-items: center;
}

.backbutton{
    grid-column: 1;
    padding: .5em;
    border-radius: 50%;
   
    background:url(./left-arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.info{
    display:grid;
justify-items: center;
    align-items: center;
    grid-column: 7;
    width: 100%;
    padding: 1em;
    background-color: hsl(256, 94%, 95%);
    border-radius: 50%;
}