
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:wght@300;600;800&display=swap');


@font-face {
  font-family: "Light";   /*Can be any text*/
    src:local("Light"),
        url("./fonts/LEMONMILK-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Light1";   /*Can be any text*/
    src:local("Light1"),
        url("./fonts/LEMONMILK-Light.otf") format("opentype");
}
* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Judson';
  font-style: normal;
  font-weight: 400;
  
}
body{
  background-color: #ffffff;
  background: url(./background.svg);
  background-size:%;
}

.fade-enter {
  transform: scale(0);
}

.fade-enter-active {
  animation: myAnim .3s ease 0s 1 normal forwards;
}

.fade-exit {
  transform: scale(0);
}

.fade-exit-active {
  animation: myAnim .2s ease 0s 1 reverse forwards;
}
@keyframes myAnim {
	0% {
		transform: scale(0.5);
	
	}

	100% {
		transform: scale(1);
	
	}
}

.slide-enter-active{
 
   
  animation: slide-in .4s ease forwards;
  
}
.slide-exit-active{
  
  animation: slide-in .4s ease forwards reverse;
  
  
}

 @keyframes slide-in {
  0% {
    transform: scale(0);
    transform-origin: 0% 0% ;
  }
  100% {
    transform: scale(1);
    
  }
}

.svgs{
  background-color: white;
  
  
}

.svgs svg{
display: block;
}


@media screen and (min-width:450px) {
  body{
  
    background-size: 60%;
  }
}