.Button{
    padding: .5em 1em .5em 1em;
    border:none;
    border-radius: .3em;
    background-color:#f0a400 ;
    color: white;
    font-family: 'Jost', sans-serif;
    font-size: 1.2rem;
    display: grid;
  
}



.Button:hover{
    filter: brightness(1.2);
}